<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
	
		<title>{% block title %}{% endblock%} - Pass.on</title>
		
		<link rel="shortcut icon" href="../assets/img/favicon.ico?v=4" />
		
		<link href="./assets/css/style.css" rel="stylesheet" type="text/css">
		<link href="./assets/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link href="./assets/css/video-js.css" rel="stylesheet">
		
		<script type="text/javascript">
			document.createElement('video');
			document.createElement('audio');
			document.createElement('track');
		</script>
		{% block head %}{% endblock %}
	</head>

	<body>
		<header>
			<a href="/"><img class="logo" src="../assets/img/passon.svg"></a>
			<i class="fa fa-tint inverse" id="inverse"></i>
		</header>
	
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		
		<script src="./assets/js/jquery.js"></script>
		<script src="./assets/js/jquery.cookie.js"></script>
		
		<script src="./assets/js/video.js"></script>
		
		<script>
			$('#inverse').click(function() {
				$('html').toggleClass('dark');
			});
		</script>
		
		{% block scripts %}{% endblock %}
	</body>
</html>
