{% extends "base.html" %}

{% block title %}Board{% endblock %}

{% block head %}
<link href="./assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>Board</h1>

<ul id="topics" class="topics">

</ul>
{% endblock %}

{% block scripts %}
<script src="./assets/js/socket.io.js"></script>

<script>
	var socket = io('http://socket.memody.com/topics');

	socket.on('topics', function(topics) {
		$('#topics').empty();

		for(var topic in topics) {
			switch(topics[topic].type) {
				case 'image':
					var thumbnail = topics[topic].url;
					break;
				case 'video':
					var thumbnail = '/assets/img/video.png';
					break;
				case 'audio':
					var thumbnail = '/assets/img/audio.png';
					break;
			}

			var item = $('<a href="/chat#' + topics[topic].id + '" target="_blank">');
			item.html('<li><div class="contentImage" style="background: url(\'' + thumbnail + '\') no-repeat; background-position: center; background-size: auto 100%;"></div><div class="contentInfo">' + topics[topic].title + '</div></li>');

			$('#topics').append(item);
		}
	});
</script>
{% endblock %}
