{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block head %}
<link href="./assets/css/chat.css" rel="stylesheet" type="text/css">
<link href="./assets/css/spectrum.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="sidebar" id="sidebar">
	<div class="contentBox" id="contentBox">
		<div class="contentWrap" id="contentWrap">
			<video id="video" class="video" controls preload="auto" style="display: none;"></video>

			<div id="audioWave" class="audioWave" style="display: none;">
				<div id="audioTimeNow" class="audioTimeNow"></div>
				<div id="audioTimeFull" class="audioTimeFull"></div>
			</div>

			<div id="audioControls" class="audioControls" style="display: none;">
				<i id="audioPlayPause" class="fa fa-play audioControl"></i>
				<i id="audioGotoStart" class="fa fa-step-backward audioControl"></i>

				<div class="audioVolume">
					<input type="range" min="0" max="100" value="100" id="audioVolumeControl" class="audioVolumeControl">
					<i id="audioVolumeIndicator" class="fa fa-volume-up audioControl audioVolumeIndicator"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="tabs">
		<ul>
			<li class="tab tab_userlist activated" id="tab_userlist">
				<i class="fa fa-users"></i>
			</li>
			<li class="tab tab_settings deactivated" id="tab_settings">
				<i class="fa fa-sliders fa-lg"></i>
			</li>
		</ul>
	</div>

	<div class="sidebar_frame">
		<div class="userlist" id="userlist">
			<ul id="users"></ul>
		</div>
		<div class="settings" id="settings">
			<form action="" id="config">
				<ul>
					<li class="setname"><input type="text" id="username" placeholder="Username" maxlength="18" autocomplete="off"></li>
					<li class="colorpicker"><span class="label">Color</span><input type="color" id="colorpicker"></li>
				</ul>
				<ul>
					<li><span class="label">Broadcasts</span><input type="checkbox" id="broadcasts"></li>
					<li><span class="label">Sounds</span><input type="checkbox" id="sound"></li>
				</ul>
				<ul>
					<li>
						<span class="label">Font size</span>

						<select id="fontsize">
							<option value="normal">Normal</option>
							<option value="larger">Larger</option>
							<option value="largest">Largest</option>
						</select>
					</li>
				</ul>
			</form>
		</div>
	</div>

	<span class="sidebar_toggle" id="sidebar_toggle">»</span>
</div>

<div class="chatbox" id="chatbox">
	<h1 class="topic" id="topic"></h1>

	<ul id="messages" class="messages"></ul>

	<form action="" id="writer" class="writer">
		<input type="text" id="message" tabindex="1" autocomplete="off" maxlength="400" placeholder="Message" spellcheck="false">
	</form>
</div>
{% endblock %}

{% block scripts %}
<script src="./assets/js/spectrum.js"></script>

<script src="./assets/js/socket.io.js"></script>

<script src="./assets/js/moment.js"></script>
<script src="./assets/js/autolink.js"></script>

<script src="./assets/js/wavesurfer.js"></script>

<script>
	$(document).ready(function() {
		var room = window.location.hash.substring(1,window.location.hash.length);

		var socket = io('http://socket.memody.com/chat');

		// Load sounds
		var ping = new Audio('./assets/audio/drop.wav');
		var fanfare = new Audio('./assets/audio/fanfare.wav');

		// Switch sidebar tabs
		$('#tab_settings').click(function(){
			$('#userlist').hide();
			$('#settings').show();
			$('#contentBox').show();

			$('#tab_userlist').removeClass('activated');
			$('#tab_settings').addClass('activated');

			$('#sidebar').removeClass('hidden');
			$('#chatbox').removeClass('sidehide');
			$('.tab').removeClass('sidehide_tabs');

			$('#sidebar_toggle').text('»');
		});
		$('#tab_userlist').click(function(){
			$('#settings').hide();
			$('#userlist').show();
			$('#contentBox').show();

			$('#tab_userlist').addClass('activated');
			$('#tab_settings').removeClass('activated');

			$('#sidebar').removeClass('hidden');
			$('#chatbox').removeClass('sidehide');
			$('#contentBox').removeClass('sidehide');
			$('.tab').removeClass('sidehide_tabs');

			$('#sidebar_toggle').text('»');
		});

		// Open/close sidebar
		$('#sidebar_toggle').click(function(){
			$('#sidebar').toggleClass('hidden');
			$('#chatbox').toggleClass('sidehide');
			$('.tab').toggleClass('sidehide_tabs');

			// Show empty sidebar by default after toggle
			$('#userlist').hide();
			$('#settings').hide();
			$('#contentBox').hide();

			$('#tab_userlist').removeClass("activated");
			$('#tab_settings').removeClass("activated");

			if($('#sidebar_toggle').text() == '»') {
				$('#sidebar_toggle').text('«');
			} else {
				$('#sidebar_toggle').text('»');

				// Show userlist when sidebar appears to be opening
				$('#userlist').show();
				$('#tab_userlist').addClass("activated");

				$('#contentBox').show();
			}
		});

		// Adjust font size in chat
		var adjustFontSize = function(fontsize) {
			var fontsizes = {
				'normal': '.8em',
				'larger': '1em',
				'largest': '1.25em'
			}

			// Set font size in chat, save to cookie and set config
			$('#chatbox').css('font-size', (fontsizes[fontsize] || fontsizes['normal']));
			$.cookie('fontsize', $("#fontsize").val(), {expires: 365 });

			$('#fontsize').val(fontsize).prop('selected', true);
		}

		// Set chat font size
		$('#fontsize').focusout(function() {
			adjustFontSize($("#fontsize").val());
		});
		$('#fontsize').click(function() {
			adjustFontSize($("#fontsize").val());
		});

		// Get URL room parameter and emit to server
		socket.emit('roomSync', {'room': room, 'username': ($.cookie('username') || false)});

		var tablist;

		socket.on('roomSync', function(status, data) {
			if(status === 'ok' || status === 'initial') {
				$('#users').empty();
				tablist = new Array();

				var roomcount = $('<li class="usercount">');
				roomcount.html(Object.keys(data.users).length + ' users');

				$('#users').append(roomcount);

				for(var user in data.users) {
					var username = $('<li class="name ' + data.users[user].status + '">');
					username.text(data.users[user].name);

					$('#users').append(username);
					tablist.push(data.users[user].name);
				}

				if(status === 'initial') {
					$('#topic').html(data.topic.title);
					document.title = document.title.replace('Chat', data.topic.title);
					window.location = 'chat#' + data.topic.id;

					console.log(data.topic);

					switch(data.topic.type) {
						case 'image':
							$('#contentWrap').css('background', 'url(\'' + data.topic.url + '\') no-repeat');
							$('#contentWrap').css('background-position', 'center');
							$('#contentWrap').css('background-size', 'contain');

							break;
						case 'video':
							$('#video').show();
							$('#video').prop('src', data.topic.url);

							break;
						case 'audio':
							$('#audioWave').show();
							$('#contentBox').css('height', '175px');

							var wavesurfer = Object.create(WaveSurfer);

							wavesurfer.init({
								container: document.querySelector('#audioWave'),
								waveColor: '#555',
								progressColor: '#48c'
							});

							wavesurfer.load(data.topic.url);

							var getMinuteTime = function(seconds) {
								var minutes = Math.round(seconds / 60);
								var remain = Math.round(seconds % 60);

								if(remain < 10) {
									remain = '0' + remain;
								}

								return minutes + ':' + remain;
							}

							wavesurfer.on('ready', function() {
								$('#audioControls').show();
								$('#audioTimeFull').text(getMinuteTime(wavesurfer.getDuration()));
								$('#audioTimeNow').text(getMinuteTime(wavesurfer.getCurrentTime()));

								$('#audioPlayPause').click(function() {
									wavesurfer.playPause();
								});
								$('#audioGotoStart').click(function() {
									wavesurfer.seekTo(0);
								});

								var setVolume = function(volume) {
									wavesurfer.setVolume(volume / 100);

									if(volume <= 100 && volume >= 75) {
										$('#audioVolumeIndicator').removeClass('fa-volume-down');
										$('#audioVolumeIndicator').removeClass('fa-volume-off');
										$('#audioVolumeIndicator').removeClass('fa-times-circle');
										$('#audioVolumeIndicator').addClass('fa-volume-up');
									} else if(volume < 75 && volume >= 15) {
										$('#audioVolumeIndicator').removeClass('fa-volume-up');
										$('#audioVolumeIndicator').removeClass('fa-volume-off');
										$('#audioVolumeIndicator').removeClass('fa-times-circle');
										$('#audioVolumeIndicator').addClass('fa-volume-down');
									} else if(volume < 15 && volume > 0) {
										$('#audioVolumeIndicator').removeClass('fa-volume-up');
										$('#audioVolumeIndicator').removeClass('fa-volume-down');
										$('#audioVolumeIndicator').removeClass('fa-times-circle');
										$('#audioVolumeIndicator').addClass('fa-volume-off');
									} else if(volume == 0) {
										$('#audioVolumeIndicator').removeClass('fa-volume-up');
										$('#audioVolumeIndicator').removeClass('fa-volume-down');
										$('#audioVolumeIndicator').removeClass('fa-volume-off');
										$('#audioVolumeIndicator').addClass('fa-times-circle');
									}
								}
								$('#audioVolumeIndicator').click(function() {
									if($('#audioVolumeControl').val() == 0) {
										setVolume(100);
										$('#audioVolumeControl').val(100);
									} else {
										setVolume(0);
										$('#audioVolumeControl').val(0);
									}
								});
								$('#audioVolumeControl').on('input', function() {
									setVolume($('#audioVolumeControl').val());
								});
							});

							setInterval(function() {
								$('#audioTimeNow').text(getMinuteTime(wavesurfer.getCurrentTime()));
							}, 200);

							wavesurfer.on('pause', function() {
								$('#audioPlayPause').removeClass('fa-pause');
								$('#audioPlayPause').addClass('fa-play');
							});
							wavesurfer.on('stop', function() {
								$('#audioPlayPause').removeClass('fa-pause');
								$('#audioPlayPause').addClass('fa-play');
							});
							wavesurfer.on('play', function() {
								$('#audioPlayPause').removeClass('fa-play');
								$('#audioPlayPause').addClass('fa-pause');
							});
							wavesurfer.on('finish', function() {
								wavesurfer.stop();
							});

							break;
						case 'youtube':
							$('#contentWrap').html('<iframe width="100%" height="100%" src="https://www.youtube.com/embed/AjI2J2SQ528" frameborder="0" allowfullscreen></iframe>');

							break;
					}
				}
			} else {
				console.error('Sync failed!');
				console.error(data);
			}
		});
		socket.on('userSync', function(status, data) {
			if(status === 'ok') {
				// Initialize username input
				$('#username').val('');
				$('#username').prop('placeholder', data.user.name);

				// Initialize colorpicker based on synced config
				$('#colorpicker').spectrum({
					showPaletteOnly: true,
					hideAfterPaletteSelect: true,
					color: data.user.color,
					palette: [
						data.room.palette
					],
					change: function(color) {
						socket.emit('config', 'color', color.toHexString());
					}
				});
			} else {
				console.error('Sync failed!');
				console.error(data);
			}
		});

		// Prepare configuration from cookie
		if($.cookie('sound') == 'on') {
			$('#sound').prop('checked', true);
		}
		if($.cookie('broadcasts') != 'off') {
			$('#broadcasts').prop('checked', true);
		}
		if($.cookie('fontsize')) {
			adjustFontSize($.cookie('fontsize'));
		}

		var setnick = function(newnick) {
			// Broadcast nick change to server
			socket.emit('config', 'nick', newnick);
			$.cookie('username', newnick, { expires: 365 });
		}

		// Set new username and broadcast to server
		$('#username').focusout(function() {
			if($('#username').val().length > 0) {
				setnick($('#username').val());
			}
		});

		// Save configuration as cookies on checkbox toggle
		$('#sound').click(function() {
			if($("#sound").is(':checked')) {
				$.cookie('sound', 'on', {expires: 365 });
			} else {
				$.cookie('sound', 'off', {expires: 365 });
			}
		});
		$('#broadcasts').click(function() {
			if($("#broadcasts").is(':checked')) {
				$.cookie('broadcasts', 'on', {expires: 365 });
			} else {
				$.cookie('broadcasts', 'off', {expires: 365 });
			}
		});

		// Prevent form submission on enter
		$('#config').submit(function() {
			return false;
		});

		// Send chat messages (or commands)
		$('#writer').submit(function(){
			if($('#message').val().substring(0,1) == '/') {
				var command = $('#message').val().substring(1).split(' ')[0];
			}

			switch(command) {
				case 'clear':
					$('#messages').empty();
					break;
				default:
					socket.emit('chat', {'msg': $('#message').val()});
			}

			$('#message').val('');
			return false;
		});
		// Username autocomplete on tab
		$('#writer').keydown(function(key) {
			if(key.which === 9) {
				key.preventDefault();

				for(var user in tablist) {
					var words = $('#message').val().split(' ');

					if(tablist[user].toLowerCase().replace(words[words.length - 1].toLowerCase(), '').length < tablist[user].length) {
						if(words.length == 1) {
							$('#message').val(tablist[user] + ': ');
						} else {
							$('#message').val(words.slice(0, words.length - 1).join(' ') + ' ' + tablist[user] + ' ');
						}
					}
				}
			}
		});

		// Output chat messages
		socket.on('chat', function(replyData) {
			var username = $('<span class="userid" style="color: ' + replyData.user.color + ';">');

			var time = $('<span class="time">');
			time.text(moment().format("HH:mm"));

			var message = $('<span class="text">');
			message.html((replyData.html ? replyData.msg : replyData.msg.replace(/</g, '&lt;')).autoLink({ target: "_blank" }));

			// Check for roleplay (/me) event
			if(replyData.me) {
				var line = $('<li class="message me" style="border-color: ' + replyData.user.color + '; color: ' + replyData.user.color + ';">');
				username.html('* ' + replyData.user.name + '&nbsp;');

				line.append(username);
				line.append(message);
				line.append(time);
			} else {
				var line = $('<li class="message chat" id="' + replyData.user.id + '" style="border-color: ' + replyData.user.color + ';">');
				username.text(replyData.user.name);

				if($('.message').last().attr('id') != replyData.user.id) {
					line.append(username);
					line.append(time);
				}

				line.append(message);
			}

			$('#messages').append(line);

			$('#messages').scrollTop($('#messages').prop('scrollHeight'));

			if($.cookie('sound') == 'on') {
				ping.play();
			}

			if(!document.hasFocus()) {
				if(document.title.substring(document.title.length -1, document.title.length) != '*') {
					$(document).prop('title', document.title + '*');
				}
			}

			if(replyData.audio && $.cookie('sound') == 'on') {
				$('#' + replyData.audio).get(0).play();
			}
		});

		$(window).focus(function() {
			if(document.title.substring(document.title.length -1, document.title.length) == '*') {
				$(document).prop('title', document.title.substring(0, document.title.length - 1));
			}
		});

		// Output broadcast messages
		socket.on('broadcast', function(replyData){
			if(replyData.personal) {
				var line = $('<li class="message personal">');
			} else {
				var line = $('<li class="message broadcast">');
			}

			var broadcast = $('<span class="text">');
			broadcast.html(replyData.msg);

			var time = $('<span class="time">');
			time.html(moment().format("HH:mm"));

			line.append(broadcast);
			line.append(time);

			// Mute broadcasts if they are disabled. Personal broadcasts can't be muted
			if($.cookie('broadcasts') != 'off' || replyData.personal) {
				$('#messages').append(line);
			}

			// Scroll down
			$('#messages').scrollTop($('#messages').prop('scrollHeight'));

			if(replyData.msg.split(' ').slice(-1) == "Bananaking") {
				if($.cookie('sound') == 'on') {
					fanfare.play();
				}
			}
		});

		socket.on('disconnect', function() {
			$('#users').empty();
			$('#room').html('<i style="font-weight: normal;">disconnected</i>');

			var line = $('<li class="message personal">');

			var broadcast = $('<span class="text">');
			broadcast.html('You have been disconnected. Our apologies for the inconvenience!');

			var time = $('<span class="time">');
			time.html(moment().format("HH:mm"));

			line.append(broadcast);
			line.append(time);

			$('#messages').append(line);
		});
	});
</script>
{% endblock %}
