{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="../assets/css/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="welcome">
	<img src="./assets/img/passonLogo.svg" alt="Welcome to pass.on" style="width: 256px;">
	
	<h1>Welcome to pass.on</h1>

	<a href="/chat#random"><button>RANDOM ROOM</button></a>
</div>
{% endblock %}
