{% extends "base.html" %}

{% block title %}New topic{% endblock %}

{% block head %}
<link href="./assets/css/upload.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>Start new topic</h1>

<ul class="form create">
	<li>
		<div class="container title">
			<div class="wrap">
				<input type="text" class="uploadTitle" id="uploadTitle" placeholder="Describe the topic..." maxlength="140">
				<div class="placeholder">
					<i class="fa fa-thumb-tack"></i>
				</div>
			</div>
		</div>
	</li><li>
		<div class="container upload ">
			<div class="wrap">
				<input type="text" id="uploadPath" class="uploadPath" placeholder="Upload or link a file... (optional)">
				<div class="placeholder uploadStatus" id="uploadStatus">
					<i class="fa fa-file"></i>
				</div>
			</div>

			<button class="uploadButton">
				<label for="file">Browse</label>
			</button>

			<input type="file" id="file" class="uploadInput">
		</div>
	</li><li>
		<div class="preview" id="preview">
			<img id="previewImage" style="display: none;">
			<video id="previewVideo" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="280" style="display: none;"></video>
		</div>
	</li><li>
		<div class="container tags">
			<div class="wrap">
				<input type="text" class="uploadTags" id="uploadTags" placeholder="Add some tags..." maxlength="24">
				<div class="placeholder" id="tagsPlaceholder">
					<i class="fa fa-tags"></i>
					<ul id="newTags" class="newTags"></ul>
				</div>
			</div>
		</div>
	</li><li>
		<button class="submit" id="create">Create!</button>
		<span id="feedback" class="feedback"></span>
	</li>
</ul>
{% endblock %}

{% block scripts %}
<script src="./assets/js/socket.io.js"></script>
<script src="./assets/js/socket.io-stream.js"></script>

<script>
	var data = new Object();
	var tags = new Object();

	var updateTags = function() {
		$('#newTags').empty();
		var tagsList = new Array();

		for(var tag in tags) {
			tagsList.push(tags[tag]);
			$('#newTags').append('<li class="tag"><span>' + tags[tag] + '</span><i class="fa fa-times-circle" id="' + tag + '"></i></li>');
		}

		$('#uploadTags').val('');
		$('#uploadTags').css('padding-left', $('#tagsPlaceholder').css('width'));
		$('#uploadTags').prop('placeholder', 'Add a' + (Object.keys(tags).length > 0 ? 'nother' : '') + ' tag...');

		data['tags'] = tagsList;
	}
	$('#uploadTags').keydown(function(key) {
		if(key.which == 188 || key.which == 13) {
			key.preventDefault();

			if($('#uploadTags').val().trim().length > 0) {
				if(Object.keys(tags).length < 6) {
					tags[new Date().getTime()] = $('#uploadTags').val().trim();
					updateTags();
				} else {
					$('#uploadTags').val('');
					$('#uploadTags').prop('placeholder', 'No more tags allowed!');
				}
			} else {
				$('#uploadTags').val('');
			}
		} else if(key.which == 8 && $('#uploadTags').val().length < 1) {
			delete tags[Object.keys(tags)[Object.keys(tags).length -1]];
			updateTags();
		}
	});
	$('#newTags').on('click', 'i', function() {
		delete tags[$(this).attr('id')];
		updateTags();
	});

	var socket = io('http://socket.memody.com/create');

	var resetUploadFeedback = function() {
		$('#uploadPath').val('');
		$('#uploadPath').prop('placeholder', 'Upload or link a file... (optional)');

		$('#uploadStatus').removeClass('uploadStatusComplete');
		$('#uploadStatus').removeClass('uploadStatusError');
		$('#uploadStatus').removeClass('uploadStatusActive');
		$('#uploadStatus').html('<i class="fa fa-file"></i>');

		$('#previewImage').hide();
		$('#previewVideo').hide();
	}

	$('#file').change(function(e) {
		resetUploadFeedback();

		// Update path input with filename
		$('#uploadPath').prop('placeholder', (this.value.split('\\')[this.value.split('\\').length - 1] || 'Upload or link a file... (optional)'));

		var file = e.target.files[0];
		var stream = ss.createStream();

		ss(socket).emit('file', stream, { name: file.name, size: file.size, type: file.type });
		ss.createBlobReadStream(file).pipe(stream);
	});

	$('#uploadPath').focusout(function() {
		if($('#uploadPath').val().length > 0) {
			var url = $('#uploadPath').val();
			resetUploadFeedback();

			$('#uploadPath').prop('placeholder', url);

			socket.emit('link', url);
		}
	});

	socket.on('uploadFeedback', function(feedback) {
		switch(feedback.content) {
			case 'progress':
				// Show progress in path
				$('#uploadStatus').removeClass('uploadStatusError');
				$('#uploadStatus').removeClass('uploadStatusComplete');
				$('#uploadStatus').addClass('uploadStatusActive');
				$('#uploadStatus').css('width', feedback.progress + '%');
				$('#uploadStatus').html('<i class="fa fa-upload"></i>');

				$('#uploadPath').prop('disabled', true);

				break;
			case 'complete':
				console.log(feedback);

				data['id'] = feedback.id;
				data['url'] = feedback.url;
				data['type'] = feedback.type;

				// Show completed progress in path
				$('#uploadStatus').removeClass('uploadStatusActive');
				$('#uploadStatus').removeClass('uploadStatusError');
				$('#uploadStatus').addClass('uploadStatusComplete');
		  		$('#uploadStatus').css('width', '100%');
				$('#uploadStatus').html('<i class="fa fa-check-square"></i>');

				$('#uploadPath').prop('disabled', false);

				showContent(feedback);

				break;
			case 'error':
				// Show error message in path
				$('#uploadStatus').removeClass('uploadStatusActive');
				$('#uploadStatus').removeClass('uploadStatusComplete');
				$('#uploadStatus').addClass('uploadStatusError');
		  		$('#uploadStatus').css('width', '100%');
				$('#uploadStatus').html('<i class="fa fa-ban"></i>');

				$('#uploadPath').prop('disabled', false);

				$('#uploadPath').prop('placeholder', feedback.message);

				break;
			default:
				// Show error message in path
				$('#uploadStatus').removeClass('uploadStatusActive');
				$('#uploadStatus').removeClass('uploadStatusComplete');
				$('#uploadStatus').addClass('uploadStatusError');
		  		$('#uploadStatus').css('width', '100%');
				$('#uploadStatus').html('<i class="fa fa-ban"></i>');

				$('#uploadPath').prop('disabled', false);

				$('#uploadPath').prop('placeholder', 'Something went wrong!');
		}
	});

	var showContent = function(file) {
		switch(file.type) {
			case 'image':
				$('#previewVideo').hide();

				$('#previewImage').prop('src', file.url);

				$('#previewImage').load(function() {
					$('#previewImage').show();
				});

				break;
			case 'video':
				$('#previewImage').hide();
				$('#previewVideo').show();

				var previewPlayer = videojs('previewVideo', { bigPlayButton: false, fullscreenToggle: false, controlBar: { muteToggle: false } });
				previewPlayer.src({src: file.url});

				break;
		}
	}

	$('#uploadTitle').focusout(function() {
		data['title'] = $('#uploadTitle').val();
	});

	$('#create').click(function() {
		socket.emit('create', data);
	});

	socket.on('feedback', function(feedback) {
		$('input').removeClass('errorHighlight');

		if(feedback.content == 'error') {
			$('#feedback').addClass('feedbackError');
			$('#feedback').text(feedback.message);

			switch(feedback.field) {
				case 'title':
					$('#uploadTitle').addClass('errorHighlight');
					break;
				case 'tags':
					$('#uploadTags').addClass('errorHighlight');
					break;
			}
		}

		switch(feedback.content) {
			case 'error':
				$('#feedback').removeClass('feedbackSuccess');
				$('#feedback').addClass('feedbackError');
				$('#feedback').text(feedback.message);

				switch(feedback.field) {
					case 'title':
						$('#uploadTitle').addClass('errorHighlight');
						break;
					case 'tags':
						$('#uploadTags').addClass('errorHighlight');
						break;
				}

				break;
			case 'success':
				$('#feedback').removeClass('feedbackError');
				$('#feedback').addClass('feedbackSuccess');
				$('#feedback').text(feedback.message);

				window.location = '/chat#' + feedback.id;

				break;
		}
	});
</script>
{% endblock %}
