.topics {
	list-style: none;
	padding: 0;
}
.topics li {
	width: 400px;
	height: 150px;
	display: inline-block;
	position: relative;
	float: left;
	box-sizing: border-box;
	border-bottom: solid 3px #eee;
	margin: 10px;
	text-align: center;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all .1s ease-in-out;
}
.topics li a {
	width: 100%;
	height: 100%;
	display: block;
}
.topics li .contentImage {
	width: 150px;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
}
.topics li .contentInfo {
	padding: 10px 20px;
	position: absolute;
	left: 150px;
}
.topics li:hover {
	border-bottom: solid 3px #48c;
	cursor: pointer;
}
