/* Sidebar */
.sidebar {
	color: #fff;
	background: #48c;
	width: 350px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: .8em;
	cursor: default;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	z-index: 9;
}
.sidebar_frame {
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}
.hidden {
	width: 75px;
}
.sidebar_toggle {
	color: rgba(0, 0, 0, 0.4);
	background: inherit;
	width: 100%;
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px 0;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.sidebar_toggle:hover {
	color: #fff;
	text-shadow: 1px 1px 0  rgba(0, 0, 0, 0.1);
}
/* Tabs */
.tabs {
	position: relative;
	z-index: 2;
}
.tabs ul {
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.tabs ul li {
	background: rgba(0, 0, 0, 0.2);
	width: 50%;
	height: 35px;
	box-sizing: border-box;
	float: left;
	padding: 10px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.tabs ul .sidehide_tabs {
	width: 100%;
}
.tabs ul .activated {
	background: inherit;
}
.tabs ul .tab_settings {
	border-left: solid 1px rgba(0, 0, 0, 0.2);
}
/* Tab icons */
.tabs .fa {
	display: block;
	margin: 0 auto;
}

/* User list */
.userlist ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1.5;
}
.usercount {
	list-style: none;
}
.userlist ul .name:before {
	content: '\2022';
	color: #aaa;
	margin: 0 10px 0 0;
}
.userlist ul .available:before {
	content: "\2022";
	color: #8e4;
	margin: 0 10px 0 0;
}
.userlist ul .away:before {
	content: '\2022';
	color: #e84;
	margin: 0 10px 0 0;
}
/* Settings */
.settings {
	display: none;
}
.settings ul {
	list-style: none;
	padding: 20px 0 0 0;
	margin: 0;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
}
.settings ul li {
	display: inline-block;
	width: 100%;
	margin: 0 0 20px 0;
}
.settings #username_icon {
	background-position: 16px 0;
	display: inline-block;
}
.settings ul li input[type="checkbox"],
.settings ul li select,
.settings ul li .sp-replacer {
	float: right;
}
.settings .setname input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

.contentBox {
	background: #333;
	height: 300px;
}
.contentWrap {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.contentWrap .video {
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.contentWrap .audioWave {
	background: #222;
	position: relative;
	font-size: .8em;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.contentWrap .audioTimeNow,
.contentWrap .audioTimeFull {
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 5px;
}
.contentWrap .audioTimeFull {
	right: 0;
}
.contentWrap .audioControls {
	color: #ddd;
	width: 100%;
	position: absolute;
	bottom: 6px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	cursor: default;
}
.contentWrap .audioControl {
	padding: 10px 5px;
	margin: 0;
}
.contentWrap .audioControl:hover {
	color: #fff;
	cursor: pointer;
}
.contentWrap .audioVolume {
	width: 155px;
	display: inline-block;
	position: relative;
	top: -1em;
}
.contentWrap .audioVolumeControl {
	-webkit-appearance: none;
	background: #222;
	width: 85%;
	height: 5px;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 0;
	border: 0;
	margin: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.contentWrap .audioVolumeControl::-moz-range-track {
	background: transparent;
	border: 0;
}
.contentWrap .audioVolumeControl::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #ddd;
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.contentWrap .audioVolumeControl::-moz-range-thumb {
	background: #ddd;
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 10px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.contentWrap .audioVolumeControl::-webkit-slider-thumb:hover {
	background: #fff;
}
.contentWrap .audioVolumeControl::-moz-range-thumb:hover {
	background: #fff;
}
.contentWrap .audioVolumeIndicator {
	position: absolute;
	top: 0.1em;
	right: 0;
	padding: 0;
}

.chatbox {
	color: #333;
	background: #fff;
	position: absolute;
	top: 0;
	right: 350px;
	bottom: 0;
	left: 0;
	font-size: .8em;
}
.sidehide {
	right: 75px;
}
.topic {
	color: #666;
	background: #eee;
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	display: block;
	padding: 10px 15px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	font-size: 1.5em;
	font-family: Ubuntu, sans-serif;
}

/* Chat messages */
.messages {
	list-style: none;
	position: absolute;
	top: 42px;
	right: 0;
	bottom: 40px;
	left: 0;
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: 1.75;
	cursor: default;
	overflow-y: auto;
}
.message {
	padding: 0 0 0 10px;
	border-left: solid 5px;
}
.chat .text {
	display: block;
	padding: 0 0 3px 0;
	margin: -3px 0 0 0;
	overflow: hidden;
}
.userid {
	display: inline-block;
	margin: 0;
	font-family: UbuntuBold, sans-serif;;
	font-weight: bold;
}
.time {
	color: #ddd;
	margin: 0 0 0 5px;
	font-style: normal;
}
.message:hover .time {
	color: #888;
}

.broadcast,
.personal {
	padding: 3px 10px;
}
/* Generic broadcast */
.broadcast {
	border-color: #6a6;
}
.broadcast .text {
	color: #6a6;
	display: inline-block;
	font-family: UbuntuBold, sans-serif;;
	font-weight: bold;
}
/* Private broadcast */
.personal {
	border-color: #a66;
}
.personal .text {
	color: #a66;
}
/* Roleplay command output */
.me {
	font-family: UbuntuItalic, sans-serif;
	font-style: italic;
}
.me .userid {
	color: inherit;
	font-family: UbuntuBoldItalic, sans-serif;
	font-weight: bold;
	font-style: italic;
}

/* Chat input elements */
.writer {
	width: 100%;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: solid 1px #ccc;
	font-size: inherit;
}
.writer input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding: 12px;
	border: 0;
	font-size: inherit;
	font-family: inherit;
}
/* Fix extra button padding for FireFox */
input::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
