h1 {
	margin: 50px 0;
	font-size: 1.75em;
	font-weight: 300;
}

.welcome {
	width: 400px;
	height: 400px;
	margin: 50px auto 0 auto;
	text-align: center;
	font-family: UbuntuLight, sans-serif;
	font-weight: 300;
}
/* Animate logo */
.welcome img
{
	animation-name: wiggle;
	animation-duration: 200ms;
	animation-delay: 300ms;
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: 200ms;
    -webkit-animation-delay: 400ms;
}
@keyframes wiggle {
    from {transform: rotateZ(0);}
    25% {transform: rotateZ(1deg);}
    50% {transform: rotateZ(0);}
    75% {transform: rotateZ(-1deg);}
    to {-webkit-transform: rotateZ(0);}
}
@-webkit-keyframes wiggle {
    from {transform: rotateZ(0);}
    25% {transform: rotateZ(1deg);}
    50% {transform: rotateZ(0);}
    75% {transform: rotateZ(-1deg);}
    to {-webkit-transform: rotateZ(0);}
}
