.oops {
	height: 500px;
	background: url('../img/slippery.png') no-repeat;
	background-position: center 100px;
	padding: 270px 0 0 0;
	text-align: center;
}
.oops h1 {
	font-weight: bold;
	margin: 50px 0;
}
.oops a {
	display: inline-block;
	padding: 10px 0;
}

.error {
	width: 200px;
	color: #ccc;
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin: 0 0 0 -100px;
	font-size: .75em;
}
