@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: UbuntuItalic;
    src: url('../fonts/Ubuntu/Ubuntu-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: UbuntuBold;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: UbuntuBoldItalic;
    src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: UbuntuLight;
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: UbuntuLightItalic;
    src: url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

html.dark {
	-webkit-filter: invert();
}

body {
	color: #333;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

h1 {
	color: #666;
	margin: 0 0 1em 0;
    font-family: UbuntuLight;
	font-size: 1.75em;
	font-weight: 300;
}
h2 {
	margin: 25px 0 15px 0;
    font-family: UbuntuLight;
	font-size: 1.5em;
	font-weight: 300;
}

a {
	color: #48c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

strong {
	font-family: UbuntuBold, sans-serif;
	font-weight: bold;
}
i {
	font-family: UbuntuItalic, sans-serif;
	font-style: italic;
}
em {
	font-family: UbuntuItalic, sans-serif;
	font-style: italic;
}

header {
	background: #f5f5f5;
	height: 75px;
	box-sizing: border-box;
	position: relative;
	padding: 0 50px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.logo {
	height: 30px;
	position: absolute;
	top: 50%;
	margin: -12px 0 0 0;
}
.inverse {
	color: #888;
	position: absolute;
	right: 20px;
	top: 50%;
	padding: 5px;
	margin: -12px 0 0 0;
	cursor: pointer;
}
.inverse:hover {
	color: #666;
	cursor: pointer;
}

.content {
	position: absolute;
	box-sizing: border-box;
	top: 75px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px;
}

.fa {
	width: 14px;
	display: inline-block;
	text-align: center;
}

ul.form {
	width: 100%;
	min-width: 200px;
	max-width: 500px;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.form li {
	padding: 0;
	margin: 0 0 2em 0;
}
ul.form li input {
	box-sizing: border-box;
}

input,
button,
select {
	color: #333;
	padding: 5px;
	border: solid 1px #ccc;
	font-family: inherit;
	transition: all .1s ease-in-out;
}
select {
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	border: 0;
}
option {
	color: #333;
	background: #fff;
	border: none;
}
input[type="submit"],
button {
	color: #fff;
	background: #69c;
	padding: 10px 15px;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover,
button:hover {
	background: #48c;
	cursor: pointer;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
input:focus,
select:focus {
	border: solid 1px #a7c7e6;
}
input:hover,
input:focus,
button:focus {
	outline: none;
}
