.create {
	font-size: .8em;
}
.create .container {
	width: 100%;
	height: 35px;
	display: block;
	position: relative;
	margin: 0;
	font-family: inherit;
}
.create .wrap {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
}
.create input {
	width: 100%;
	padding: 10px;
	padding-left: 30px;
	font: inherit;
}
.placeholder {
	color: #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 12px 0;
}
.create i {
	float: left;
	margin: 0 10px;
}

.create .upload .wrap {
	right: 75px;
}
.create .upload .uploadPath {
	background: none;
}
.create .upload .uploadStatus {
	z-index: -1;
}
.create .upload .uploadStatusActive {
	background: #eee;
}
.create .upload .uploadStatusComplete {
	background: #efe;
	width: 100%;
}
.create .upload .uploadStatusError {
	background: #fee;
	width: 100%;
}
.create .upload .uploadButton {
	width: 75px;
	position: absolute;
	right: 0;
	padding: 0;
	overflow: hidden;
	font: inherit;
	text-align: center;
}
.create .upload .uploadButton label {
	color: #fff;
	display: block;
	padding: 11px;
	cursor: pointer;
	font: inherit;
}
.create .upload .uploadButton label:hover {
	cursor: pointer;
}
.create input.uploadInput {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.create .url {
	margin-top: 1em;
}

.create .preview {
	width: 100%;
}
.create .preview img {
	display: block;
	max-width: 100%;
	max-height: 500px;
	margin: 0 auto;
}

.create .tags .newTags {
	list-style: none;
	position: relative;
	float: left;
	padding: 0;
	margin: -5px 0 0 0;
}
.create .tags .newTags li {
	color: #fff;
	background: #48c;
	box-sizing: border-box;
	float: left;
	padding: 5px;
	margin: 0 5px 0 0;
	border-radius: 5px;
	cursor: default;
	line-height: 1;
}
.create .tags .newTags i {
	color: rgba(0, 0, 0, 0.4);
	float: right;
	margin: 0 0 0 5px;
}
.create .tags .newTags i:hover {
	cursor: pointer;
}

.create .feedback {
	color: #666;
	margin: 0 0 0 5px;
}
.create .feedbackError {
	color: #a66;
}
.create .errorHighlight {
	background: #fee;
}
